<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Mercury App</title>
</head>
<body>
    
    <div class="container" id="container">
        
            <img src="/img/logo blanco.png" alt="">
        
    
            <h1>Welcome Back</h1>
        <div class="formulario">
        <form action="">

            <input class="input1" type="text" name="email" id="email" placeholder="Email">

            <div class="input-wrapper">
            <input class="input2" type="password" name="password" id="password" placeholder="Password">
            <svg xmlns="http://www.w3.org/2000/svg" class="input-icon password" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
              </svg>
            </div>

            <a class="forgot" href="">Forgot Password</a>

            <input class="remember" type="checkbox" id="btn" placeholder="Remenber me">
            <label for="">Remenber me</label>
            
            
            <input class="button" type="submit" value="Log In">
        </form>
        </div>  
        
    </div>
    <div class="SingUp" id="singUp">
        <p>Don´t have an account?<a id="linkRegister" href="/register"> Sing up</a>  instead</p>
    </div>
    
    <div id="loader" class="loader">
        <span>LOADING</span>
    </div>
   
    <script src="/logic/funciones.js"></script>
</body>
</html>