<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>
<body>
    <div class="container" id="container">
        
        <img src="/img/logo blanco.png" alt="">
    

        <h1>Create your account</h1>
    <div class="formulario">
    <form action="/register" method="POST">

        <input class="input1" type="text" name="email" id="email" placeholder="Email">

        <div class="input-wrapper">
        <input class="input2" type="password" name="password" id="password" placeholder="Password">
        <svg xmlns="http://www.w3.org/2000/svg" class="input-icon password" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
          </svg>
        </div>

        <div class="input-wrapper2">
            <input class="input2" type="password" name="repytePassword" id="repytePassword" placeholder="Repyte Password">
            <svg xmlns="http://www.w3.org/2000/svg" class="input-icon2 password" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
              </svg>
            </div>

           

            <select class="country" name="country" id="country" placeholder="Country of Recidence">
                <option selected>Country of Recidence</option>
                <option value="Colombia">Colombia</option>
                <option value="Spain">Spain</option>
                <option value="Germany">Germany</option>
                <option value="United States">United States</option>
                <option value="México">México</option>
            </select>

            
            
            <select class="language" name="language" id="language">
                <option value="English">English</option>
                <option value="German">German</option>
                <option value="Spanish">Spanish</option>
                <option value="French">French</option>
                <option value="Chinese">Chinese</option>
            </select>


        <input class="remember" type="checkbox" id="btn" placeholder="Remenber me">
        <label class="privacity-policity" for="">By continuing I agree to the <a href="">Terms of Service</a> and <a href="">Privacity Policity</a></label>
        
        
        <input class="button" type="submit" value="Sing up">
    </form>
    </div>  
    
</div>
<div class="logIn" id="logIn">
    <p> Have an account?<a id="linkLogin" href="/"> Log In</a>  instead</p>
</div>

<div id="loader" class="loader">
    <span>LOADING</span>
</div>


<script>
    const linkLogin = document.getElementById('linkLogin');
const loader = document.getElementById('loader');
const container = document.getElementById('container');
const login = document.getElementById('logIn');

linkLogin.addEventListener('click', (event) =>{
    event.preventDefault();

    container.style.display= 'none'
    login.style.display= 'none'
    loader.style.display= 'flex'

    setTimeout(function (){
        loader.style.display= 'none'
        login.style.display= 'block'
        container.style.display= 'block'
        window.location = '/';
    
      
    }, 5000)
})

</script>
</body>
</html>