* {
    margin: 0;
    padding: 0;

}


.container {
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    font-family: 'calibri';
}

img{
    margin-left: 65px;
}

.container h1 {
    font-size: 25px;
    color: #8442E5;
    margin-top: 32px;
    margin-bottom: 15px;
    margin-left: 45px;
}


.input1 {
    width: 90%;
    padding: 12px;
    border-radius: 7px;
    margin-bottom: 25px;
    border: 1px solid #ABB2B9;
    font-size: 15px;
}

.input2 {
    width: 90%;
    
    padding: 12px;
    border-radius: 7px;
    border: 1px solid #ABB2B9;
    
}

.country{
    width: 99%;
    padding: 12px;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 1px solid #ABB2B9;
    font-size: 15px;
    color: #8442E5;
    font-weight: bold;
}

.language{
    width: 99%;
    padding: 12px;
    border-radius: 25px;
    margin-bottom: 25px;
    border: 1px solid #ABB2B9;
    font-size: 15px;
    color: #8442E5;
    font-weight: bold;
}

.input-wrapper {
	position: relative;
    margin-bottom: 25px;
}

.input-icon {
	color: #555758;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 265px;
	top: 50%;
	transform: translateY(-50%);
}

.input-wrapper2 {
	position: relative;
}

.input-icon2 {
	color: #555758;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 265px;
	top: 50%;
	transform: translateY(-50%);
}
.forgot{
    margin-left: 185px;
}

.remember{
    margin-top: 15px;
    font-family: 'calibri';
    font-weight: bold;
}

.privacity-policity{
    font-weight: bold;
}

.button{
    width: 97%;
    padding: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    border: 1px solid  #c5a7f3;
    font-size: 15px; 
    background-color: #c5a7f3;
    color: rgb(241, 231, 231);
}

.logIn {
    border-top: solid 1px #ABB2B9;
    width: 500px;
    margin: auto;
}

.logIn p{
    margin-top: 15px;
    margin-left: 115px;
    font-weight: bold;
    font-family: 'calibri';
    font-size: 18px;
}


/*********************** LOADER *************************/


.loader{
    display: none;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 340px;

}

.loader span{
    color: blueviolet;
    letter-spacing: 2px;
    font-size: 18px;
}

.loader::before,
.loader::after{
    inset: 0;
    content: '';
    border-radius: 50%;
    position: absolute;
}

.loader::before{
    border-left: 4px solid rgb(109, 39, 167);
    animation: move-rigth 2s ease-in infinite;
}

.loader::after{
    border-right: 4px solid rgb(150, 35, 173);
    animation: move-left 1s ease-in infinite;
}

@keyframes move-rigth {
    to{
        transform: rotate(360deg);
    }
}

@keyframes move-left {
    to{
        transform: rotate(-360deg);
    }
}